<!-- templates/base.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}News Clusters{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>AOS.init();</script>

  <body class="light">
    <header>
      <h1>News Clusters</h1>
      <label class="switch">
        <input type="checkbox" id="theme-toggle">
        <span class="slider round"></span>
      </label>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
